<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>ARTOW PACKAGE</title>
<!-- Bootstarp CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<!-- Favicon -->
<!-- <link rel="shortcut icon" href="./images/Main Img/FAVICON.png" type="image/x-icon"> -->
<link rel="shortcut icon"
    href="https://images.pexels.com/photos/1964471/pexels-photo-1964471.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
    type="image/x-icon">

    
    <!-- Font awesome -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">





    <!-- Css Links From Public/css -->
    <!-- <link rel="stylesheet" href="./css/style.css"> -->



</head>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Metal+Mania&family=Poppins&display=swap');
        *{
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
        }

        body{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            min-height: 100vh;
            background: #232427;
            font-family: 'Metal Mania', cursive;
        }

        .container{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            max-width: 1200px;
            margin: 40px 0px;
        }

        .container .card{
            position: relative;
            min-width: 320px;
            height: 440px;
            margin: 30px;
            background: linear-gradient(145deg, #787878, #525252);
            border-radius: 15px;
            box-shadow: inset 30.03px 30.03px 28px #414141, inset -30.03px -30.03px 28px #898989;
        }


       

        .container .card .box{
            position: absolute;
            top: 20px;
            left: 20px;
            right: 20px;
            bottom: 20px;
            background: #2a2b2f;
            border: 2px solid #1e1f23;
            border-radius: 15px;
            box-shadow: 0 20px 50px rgba(0,0,0,0.5);
            transition: all 0.3s ease;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
        }

        .container .card .box::before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 50%;
            height: 100%;
            background-color: rgba(255,255,255,0.07);
            pointer-events: none;
        }

        .container .card .box:hover{
            transform: translateY(-50px);
            box-shadow: 0 40px 70px rgba(0,0,0,0.5);
        }


        .container .card .box .content {
            padding: 20px;
            text-align: center;
        }

        .container .card .box .content h2{
            position: absolute;
            top: -10px;
            right: 30px;
            font-size: 8em;
            color: rgba(255,255,255,0.05);
        }

        .container .card .box .content h3{
            font-size: 1.8em;
            color: #b1b1b4;
            z-index: 1;
            transition: all 0.5s ease;
        }

        .container .card .box .content p{
            font-size: 1em;
            color: #b1b1b4;
            z-index: 1;
            transition: all 0.5s ease;
            font-family: 'Poppins', sans-serif;
            text-align: center;
        }

        .container .card .box .content a{
            position: relative;
            display: inline-block;
            background: #000;
            margin-top: 15px;
            border-radius: 20px;
            text-decoration: none;
            font-weight: 400;
            color: #fff;
            padding: 8px 20px;
            box-shadow: 0 10px 20px rgba(0,0,0,0.2);
        }
        
        .container .card:nth-child(1) .box .content a{
            /* background: #2196f3; */
            background-image: linear-gradient( 45.4deg,  rgba(81,128,252,1) 25.9%, rgba(12,12,12,1) 93.1% );
        }
        .container .card:nth-child(2) .box .content a{
            /* background: #e91e63; */
            background-image: radial-gradient( circle farthest-corner at 50.4% 50.5%,  rgba(251,32,86,1) 0%, rgba(135,2,35,1) 90% );
        }
        .container .card:nth-child(3)  .box .content a{
            /* background: #97dc47; */
            background-image: linear-gradient( 111.1deg,  rgba(0,40,70,1) -4.8%, rgba(255,115,115,1) 82.7%, rgba(255,175,123,1) 97.2% );
        }


        .Subscription_heading{
            text-align: center;
            color: white;
        }

        @media only screen and (max-width:576px){
            .Subscription_heading{
                position: relative;
                top: 20px;
            }
        }


        @media only screen and (max-width:330px){
            html{
                font-size: 14px;
            }
            .container .card{
            min-width: 270px;
            height: 440px;
            margin: 20px;
            }
        }

        @media only screen and (max-width:280px){
            html{
                font-size: 10px;
            }
            .container .card{
            min-width: 200px;
            height: 440px;
            margin: 20px;
            }
        }

    </style>
<body>
    
    <h1 class="Subscription_heading">Select Your Subscription</h1>

    <div class="container">
        <div class="card">
            <div class="box">
                <div class="content">
                    <h2>01</h2>
                    <h3>Free Subscription</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae iste accusamus repellat expedita aspernatur laborum faceunt autem!</p>
                    <a href="#">Click Me</a>
                </div>
            </div>
        </div>



        <div class="card">
            <div class="box">
                <div class="content">
                    <h2>02</h2>
                    <h3>Monthly Subscription</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae iste accusamus repellat expedita aspernatur laborum faceunt autem!</p>
                    <a href="#">Click Me</a>
                </div>
            </div>
        </div>




        
        <div class="card">
            <div class="box">
                <div class="content">
                    <h2>03</h2>
                    <h3>Yearly Subscription</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae iste accusamus repellat expedita aspernatur laborum faceunt autem!</p>
                    <a href="#">Click Me</a>
                </div>
            </div>
        </div>
        

    </div>






    <!-- Bootstarp JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>