<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Artow Category Selection</title>
<!-- Bootstarp CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<!-- Favicon -->
<!-- <link rel="shortcut icon" href="./images/Main Img/FAVICON.png" type="image/x-icon"> -->
<link rel="shortcut icon"
    href="https://images.pexels.com/photos/1964471/pexels-photo-1964471.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
    type="image/x-icon">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">


<!-- Css Links From Public/css -->
<link rel="stylesheet" href="./css/style.css">

</head>
<style>
    body {
        height: 100vh;
        width: 100vw;
        background: linear-gradient(125deg, #FFFFFF 0%, #000000 100%), linear-gradient(200deg, #FFD9E8 0%, #FFD9E8 50%, #DE95BA calc(50% + 1px), #DE95BA 60%, #7F4A88 calc(60% + 1px), #7F4A88 75%, #4A266A calc(75% + 1px), #4A266A 100%), linear-gradient(113deg, #FFD9E8 0%, #FFD9E8 40%, #DE95BA calc(40% + 1px), #DE95BA 50%, #7F4A88 calc(50% + 1px), #7F4A88 70%, #4A266A calc(70% + 1px), #4A266A 100%);
         background-blend-mode: overlay, overlay, normal;
        /* background: #000; */
    }
    .RRow{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    .RContent{
        min-height: 350px;
        border-radius: 20px;
        background: linear-gradient(145deg, #B3B4B7, #FFFFFF);
        box-shadow: inset 24.02px 24.02px 26px #9EA0A2,
        inset -24.02px -24.02px 26px #FFFFFF;
    }

    .RContent h1{
        text-align: center;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.6);
    }
   

    .ImgBox{
        width: 300px;
        height: 200px;
        background:url("./images/ArtowImages/img25.jpg") center center/cover ;
        margin: 20px auto;
        border-radius: 20px;
        transition: all 0.4s ease;
    }

    .ImgBox:hover{
        transform: scale(1.06);
        cursor: pointer;
    }

    .RedirectionBtn{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 10px;
    }

    .RedirectionBtn a{
        text-decoration: none;
        padding: 5px;
        color: white;
        background: #000000;
        border-radius: 4px;
    }

    .RedirectionBtn a:hover{
        color: yellow;
        font-weight: 600;
    }

    @media only screen and (max-width:576px){
        .RRow{
            margin: 20px;
        }
    }

    @media only screen and (max-width:385px){
    .ImgBox{
        width: 250px;
        height: 200px;
    }
    }


    @media only screen and (max-width:330px){
    .ImgBox{
        width: 200px;
        height: 200px;
    }
    }

    @media only screen and (max-width:300px){
    .RContent h1{
        margin-top: 30px;
    }
    
    .ImgBox{
       display: none;
    }
    .RedirectionBtn{
        flex-direction: column;
    }
    .RedirectionBtn a{
        margin: 10px;
    }
    }

</style>

<body>

    <section class="RediretionContainer">

    <div class="container">
        <div class="row RRow">
            <div class="col col-sm-12 col-lg-4 col-md-12 RContent">
               

                    <h1>Select Your Category</h1>

                    <div class="ImgBox">

                    </div>


                    <div class="RedirectionBtn">
                        <a href="/home">Simple user</a>
                        <a href="/artistpackage">I am a artist</a>
                    </div>
            </div>
        </div>
    </div>

    </section>





    <!-- Bootstarp JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>