
    <!-- NAVBAR DESIGN -->
 
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand MyLogo" href="/">ARTOW</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse secondDivNAv" id="navbarSupportedContent">
          <ul class="navbar-nav m-auto mb-2 mb-lg-0 navContent">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#">Search Jobs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#">Profile Info</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#">Messages</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Sell Art</a>
            </li>

            <!-- Drop Down Open This When Needed -->
            <!-- <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li> -->

          </ul>
          <!-- Search Box -->
          <!-- <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form> -->


          <button class="btn btn-outline-danger" type="submit">Log Out</button>
        </div>
      </div>
    </nav>

