*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    overflow: hidden;
}


.Cont1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    top: -7.2rem;
}
.Cont1 h1{
    color:#fff;
    font-size: 4rem;
    background: #0099ff;
    width: 100vw;
    margin-top: 5rem;
    text-align: center;
}

.Cont1 p{
    font-size: 2rem;
    width: 100vw;
    text-align: center;
    color:#fff;
    background: #0099ff;
}
.sec{
    height: 50vh;
    width: 100vw;
}
.aaa{
    position: relative;
    top: -5rem;
    z-index: -1;
}