@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Open+Sans:wght@300;400;600;700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --text-color: #343a40;
  --text-light: #495057;
}

/************************************************/
/* FONTS USED */
/* font-family: "Open Sans", sans-serif; */
/* font-family: "Lato", sans-serif; */
/*********************************************/

body {
  font-size: 62.5%;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.05;
  letter-spacing: -0.5px;
}

p {
  line-height: 1.5;
}

/* ADMIN LOGIN PAGE CSS*/
.AdminLogin__Section {
  background: url("img3.jpg") center center/cover;
  min-height: 100vh;
  width: 100%;
}

.AdminLogin__Section,
.AdminLogin__Box,
.AdminLogin__Box form div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.AdminLogin__Box {
  padding: 3rem 0;
  background-color: #343a40;
  border-radius: 1rem;
  gap: 2rem;
  flex-direction: column;
}

.AdminLogin__Box h1 {
  text-transform: uppercase;
  color: #fff;
}

.AdminLogin__Box form {
  display: flex;
  width: 70%;
  flex-direction: column;
  gap: 1rem;
}

.AdminLogin__Box form input {
  padding: 0.5rem 1rem;
  outline: none;
  border: none;
  font-size: 1rem;
  background-color: #fff4e6;
  border-radius: 1rem;
}

.AdminLogin__Box form input::placeholder {
  color: var(--text-color);
}

.AdminLogin__Box button {
  text-transform: uppercase;
  border: none;
  font-weight: 600;
  font-size: 1.2rem;
  background-color: #fd7d14e8;
  color: #fff;
  padding: 0.3rem 1.5rem;
  cursor: pointer;
  border-radius: 2rem;
  transition: all 0.3s;
  outline: none;
}
.AdminLogin__Box button:hover {
  background-color: #fd7d14;
}

/* ADMIN PANNEL CSS */
.admin_pannel__Section {
  background: url("img2.jpg") center center/cover;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin_pannel__Section__col__1 {
  background-color: #fff;
  padding: 5rem 3rem;
}

table {
  width: 100%;
}

table,
td,
th {
  border: 1px solid #333;
  padding: 1rem;
}

th {
  text-align: center;
  font-size: 1.6rem;
}

td {
  text-align: center;
  font-size: 1rem;
}

tr:nth-child(even) {
  background-color: rgba(241, 240, 240, 0.85);
}

.second__section__admin__pannel .row {
  text-align: center;
}

/*******************/
/* MEDIA QUERIES */
/*******************/
/* LOGIN PAGE MEDIA QUERIES */
@media (max-width: 576px) {
  .AdminLogin__Section .row {
    margin: 0 3rem;
  }
}

@media (max-width: 470px) {
  .AdminLogin__Section .row {
    margin: 0 2rem;
  }
  .AdminLogin__Box form input {
    border-radius: 0;
  }
  .AdminLogin__Box button {
    border-radius: 0;
  }
}

/* ADMIN PAGE MEDIA QUERIES*/
@media (max-width: 576px) {
  table,
  td,
  th {
    padding: 0.5rem;
  }

  th {
    font-size: 1rem;
  }

  td {
    font-size: 0.8rem;
  }
  .admin_pannel__Section {
    display: none;
  }
  .second__section__admin__pannel {
    padding-bottom: 5rem;
  }
  .second__section__admin__pannel img {
    max-width: 250px;
  }
}

@media (max-width: 380px) {
  table,
  td,
  th {
    padding: 0.5rem;
  }

  th {
    font-size: 0.6rem;
  }

  td {
    font-size: 0.4rem;
  }
  .second__section__admin__pannel img {
    max-width: 150px;
  }
}
