*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow: hidden;
}
.Abc{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    margin-top: 1rem;
}

.Abc img{
    filter: drop-shadow(0.5rem 0.5rem 1rem rgba(10, 10, 10, 0.472));
    animation: animate 2s linear infinite  alternate-reverse;
    height: 20rem;
}


@keyframes animate {
    0%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(10px);
    }
}



.Abc img:nth-child(2){
    filter: drop-shadow(0.5rem 0.5rem 1rem rgba(10, 10, 10, 0.472));
    animation: animate2 4s linear infinite alternate-reverse;
}





@keyframes animate2 {
    0%{
        transform: translateX(-1000px);
    }
    50%{
        transform: translateY(-90px)
    }
    100%{
        transform: translateX(1000px);
    }
}





/* 
.Abc img:nth-child(3){
    filter: drop-shadow(0.5rem 0.5rem 1rem rgba(10, 10, 10, 0.472));
    animation: animate2 3s linear infinite alternate-reverse;
}
.Abc img:nth-child(4){
    filter: drop-shadow(0.5rem 0.5rem 1rem rgba(10, 10, 10, 0.472));
    animation: animate2 2s linear infinite alternate-reverse;
}
.Abc img:nth-child(5){
    filter: drop-shadow(0.5rem 0.5rem 1rem rgba(10, 10, 10, 0.472));
    animation: animate2 1s linear infinite alternate-reverse;
} */

