@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@200;300;400;500;700&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
.section {
  padding: 4rem 12rem;
}
/*******************/
/* HEADER DESIGN */
/*******************/

header {
  background-color: #195fa9;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

header nav ul {
  display: flex;
  min-width: 30%;
  justify-content: space-evenly;
}

header nav ul li {
  list-style: none;
  padding: 2rem 3rem;
}
header nav ul li:hover {
  background-color: #fff;
}
header nav ul li:hover a {
  color: #195fa9;
}
header nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.4rem;
  cursor: pointer;
}

/********************/
/* FIRST SECTION */
/********************/
.firstSection {
  background-color: #333;
  color: #fff;
  padding: 4rem 15rem 12rem 15rem;
}
.firstSection__mainBox {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.firstSection__mainBox__inner__1 h2 {
  font-weight: 400;
  font-size: 2.4rem;
}

.firstSection__mainBox__inner__2 h1 {
  font-size: 3rem;
  font-weight: 700;
}

.firstSection__mainBox__inner__2 h3 {
  font-weight: 200;
  font-size: 2rem;
}

.firstSection__mainBox__inner__3 li {
  font-size: 1.2rem;
  font-weight: 300;
}

/********************/
/* SECOND SECTION */
/********************/
.secondSection {
  background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(0, 0, 0, 0.3));
}
.secondSection .secondSection__inner__div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.secondSectionCard {
  padding: 1rem 4rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  border-left: 2px solid #999;
  border-right: 2px solid #999;
}

/********************/
/* THIRD SECTION */
/********************/
.thirdSection .thirdSection__inner__div__1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-align: center;
  margin-bottom: 4rem;
}

.thirdSection .thirdSection__inner__div__1 img {
  border: 4px solid rgb(182, 181, 181);
  border-radius: 50%;
  padding: 0.4rem;
}

.thirdSection .thirdSection__inner__div__1 h1 {
  font-weight: 100;
  font-size: 3rem;
}

.thirdSection .thirdSection__inner__div__1 p {
  font-size: 1.4rem;
}

.thirdSection__inner__div__2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
}

.thirdSection__inner__div__2
  .thirdSection__inner__div__1__productCard
  .ThirdSeclink {
  text-align: center;
  padding: 0.5rem;
  background-color: rgb(5, 172, 238);
}

.thirdSection__inner__div__2
  .thirdSection__inner__div__1__productCard
  .ThirdSeclink
  a {
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
}

.thirdSection__inner__div__2 .thirdSection__inner__div__1__productCard img {
  border: 1px solid grey;
  padding: 2rem;
}

.thirdSection__inner__div__2 .thirdSection__inner__div__1__productCard ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
  padding: 0 2rem;
}
.thirdSection__inner__div__2 .thirdSection__inner__div__1__productCard ul li {
  color: #666;
}

/********************/
/* FOURTH SECTION */
/********************/
.fourthSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.fourthSection h2 {
  font-size: 3rem;
  font-weight: 100;
  color: #555;
}

/********************/
/* FIFTH SECTION */
/********************/
.fifthsection {
  background-color: #b6e7f9;
}

.fifthsection p {
  font-size: 1.6rem;
  color: #555;
}

/*********************/
/* SIXTH SECTION */
/*********************/
.SixthSection p {
  text-align: center;
  font-size: 1.4rem;
  color: #555;
  margin-bottom: 2rem;
}
.SixthSection .sixthSection__btnHolders {
  width: 60%;
  margin-top: 2rem;
  display: flex;
  justify-content: space-evenly;
}

.SixthSection .sixthSection__btnHolders button {
  min-width: 6rem;
  font-size: 1.4rem;
  font-weight: 500;
  padding: 0.2rem 0;
  background-color: #c4c1c1;
  border: none;
  color: #fff;
  cursor: pointer;
}

.SixthSection .sixthSection__btnHolders button:hover {
  background-color: #555;
}
.sixth_sectionBtn button {
  min-width: 6rem;
  padding: 0.5rem 0;
  border: none;
  border-radius: 2rem;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  background-color: rgb(3, 40, 145);
}
/*********************/
/* SEVENTH SECTION */
/*********************/
.SeventhSection h2 {
  font-size: 3rem;
  font-weight: 100;
  color: #555;
}

.SeventhSection {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}
.seventhSectionInner {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.seventhSectionCard h3 {
  text-align: center;
  padding: 1rem;
  background-color: rgb(5, 172, 238);
  color: #fff;
}
.seventhSectionCard img {
  border: 1px solid #555;
  border-top: none;
  padding: 1rem 2rem;
}

/*********************/
/* EIGHTH SECTION */
/*********************/
.EightSection p,
.EightSection div {
  text-align: center;
  font-size: 1.4rem;
  text-align: center;
  color: #333;
}

/*********************/
/* NINETH SECTION */
/*********************/
.NinethSection p {
  font-size: 1.4rem;
  text-align: center;
  color: #333;
}

/*********************/
/* NAVBAR DROPDOWN */
/*********************/
.dropDown {
  background-color: #fff;
  padding: 2rem 4rem;
  display: flex;
  justify-content: space-evenly;
}
.dropDown .dropDown__INNER {
  border-right: 3px solid rgb(3, 40, 145);
  padding: 0 10rem 0 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.dropDown .dropDown__INNER a {
  text-decoration: none;
  color: #999;
  font-weight: 500;
  transition: all 0.4s ease;
}

.dropDown .dropDown__INNER a:hover {
  color: rgb(3, 40, 145);
}

.navDisabled {
  display: none;
}
